body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    text-align: center;
    padding: 20px;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
}

h2 {
    background-color: #a52a2a;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

main {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
}

h3 {
    color: rgb(7, 4, 202);
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

ol, ul {
    padding-left: 20px;
}

dl dt {
    font-weight: bold;
}

dd {
    margin-bottom: 10px;
}
caption{
    background-color: #585858;
    color: #ffffff;
}
.idk{
    background-color: #585858;
    color: #ffffff;
    padding: 10px;
}
caption{
    background-color: #585858;
    color: #ffffff;
    padding: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td{
    padding: 10px;
    text-align: center;
}

th {
    background-color: #c9c9c9;
    color: rgb(0, 0, 0);
}


thead th {
    background-color: #c9c9c9;
}

tfoot td {
    font-weight: bold;
    background-color: #c9c9c9;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
}